html {
    font-size: 16px;
    font-family: 'Pokemon Solid', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.pokemons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

h2 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 96px;
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
}

.label {
    width: 96px;
    min-height: 96px;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 2rem;
    margin: 0;
}

.list {
    flex: auto;
    background-color: gray;
    border-right: solid 2px #000;
}

.pokemon {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}